@forward "./_index";

@font-face {
  font-family: Roboto-Reg;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

:root {
  font-family: Roboto-Reg, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-family: Roboto-Bold;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
